<div>
  <div class="dropdown" dropdown *ngIf="countryList.length > 0">
    <button class="btn btn-primary" dropdown-open>Select Country</button>
    <ul class="dropdown-menu">
      <li *ngFor="let country of countryList">
        <a href="javascript:void(0);" (click)="pick(country)">{{country.name}}</a>
      </li>
    </ul>
  </div>

  <div *ngIf="countryDetails.length > 0">
    <h4 style="font-weight:bold">Country Info:</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Capital</th>
          <th>Population </th>
          <th>Currency Code</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of countryDetails">
        <tr>
          <td>{{item.name}}</td>
          <td>{{item.capital}}</td>
          <td>{{item.population}}</td>
          <td>{{item.currencies[0].code}}</td>
        </tr>

      </tbody>
    </table>

  </div>

  <div>
    <h4 style="font-weight:bold">Capital Weather Info: {{updatedRecord}}</h4>
    <table class="table" *ngIf="alive">
      <thead>
        <tr>
          <th>Capital</th>
          <th>Wind</th>
          <th>Temp</th>
          <th>Humidity </th>
        </tr>
      </thead>
      <tbody *ngFor="let item of countryDetails">
        <tr>
          <td>{{country.capital}}</td>
          <td>{{weather.wind.speed}}</td>
          <td>{{weather.temp}}</td>
          <td>{{weather.humidity}}</td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="!alive">Wheater not found</p>
  </div>

</div>
